

.container {
  max-width: 800px;
  margin: auto;
}

.form-container {
  margin-bottom: 20px;
}


.button-group button {
  margin-right: 10px;
}

/* Primary Button */
.btn-primary {
  background-color: #3112b9;
  border-color: #007bff;
  color: #fff;
}



.table th,
.table td {
  padding: 8px;
  vertical-align: top;
}

.table th {
  background-color: #f2f2f2;
}
